<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.mapper.MemberMapper">
	<select id="login" parameterType="Map" resultType="member">
		select id, passwd, name, nick, grade_no as grade 
		from board_member where id = #{id} and passwd = #{passwd}
	</select>
	
	<insert id="insertMember" parameterType="member">
		insert into board_member values(#{id}, #{passwd}, #{name}, #{nick}, 1)
	</insert>
</mapper>







